.new-entry-form-body
  = simple_form_for @staff, :html => {:class => 'new_entry'} do |f|
    .error-message
      = f.input :first_name, :label => "First Name"
      = f.input :last_name, :label => "Last name"
      = f.input :email, :label => "Email"
      = f.input :password, :label => "Password"
      = f.input :password_confirmation, :label => "Confirm Password"
