= simple_form_for @staff do |f|
  = f.input :first_name
  = f.input :middle_name
  = f.input :last_name
  = f.input :phone
  = f.input :email
  = f.input :password
  = f.input :password_confirmation
  = f.association :region, :label_method => :name, :value_method => :id, :include_blank => false, collection: Region.order('name ASC')
  = f.button :wrapped, :cancel => staffs_path
