%h1 Staff
%table 
  %tr
    %td Fist Name
    %td Middle Name
    %td Last Name
    %td Email
    %td Phone
    %td Region
  - @staffs.each do |staff|
    %tr
      %td= staff.first_name
      %td= staff.middle_name
      %td= staff.last_name
      %td= staff.email
      %td= staff.phone
      %td= staff.region.name
      %td= link_to('edit', edit_staff_path(staff))
      %td= link_to('delete', staff, :method => :delete, :data => {:confirm => "Are you sure?"}) 
      -# %td= link_to('delete', School.destroy(school))
= link_to('Add A Staff', new_staff_path)
