- content_for :title do
  people/staff

- content_for :sidemenu do
  - render '/layouts/people_page_sidebar'
  
- content_for :main do
  %table.table.table-bordered.table-striped{:style => 'clear: both'}
    %tr
      %th{:width => '13px'}
      %th{:width => '310px'} Name
      %th{:width => '280px'} Email
      %th Region
      %th
    - @staffs.each do |staff|
      %tr
        %td
          %a
            %i.icon-remove
        %td
          %a.x-editable-input-user-name{:href => '#', 'data-url' => "/staffs/#{staff.id}", 'data-pk' => "#{staff.id}"}
            = staff.name
        %td
          %a.x-editable-input-email{:href => '#', 'data-url' => "/staffs/#{staff.id}", 'data-pk' => "#{staff.id}"}
            = staff.email
        %td
          %a.x-editable-select2-singular{:href => '#', 'data-source' => '/regions.json','data-url' => "/staffs/#{staff.id}", 'data-pk' => "#{staff.id}", 'data-name' => 'region'}
            = @staffs_with_region[staff.id][0]
        %td
          %button.btn.btn-primary{'type' => 'button'}
            Reset Password
