- start_hour = 8
- end_hour = 16
- slots_per_hour = 3
- slot_height = 18
- current_and_future_terms = Term.current_and_future_terms
- week_range = @date.beginning_of_week(:sunday) .. @date.end_of_week(:sunday)
.wc-container{:data => {:school => @school_id}}
  %table.wc-header
    %tbody
      %tr
        %td.wc-time-column-header
        - for day in week_range
          - klass = "wc-day-column-header wc-day-#{day.strftime("%w")}"
          - if day == @today
            - klass << " wc-today"
          %td{:class => klass}
            = link_to day.strftime("%a %-m-%d"), "#", :class => "wc-day-column-header"
  .wc-scrollable-grid
    %table.wc-time-slots
      %tbody
        %tr
          %td.wc-grid-timeslot-header
          %td{:colspan => 7}
            .wc-time-slot-wrapper
              .wc-time-slots
                - for hour in start_hour .. end_hour
                  - for slot in 1 ... slots_per_hour
                    .wc-time-slot{:class => "wc-hour-#{hour} wc-hour-slot-#{slot} #{calendar_name}-cal"}
                  .wc-time-slot.wc-hour-end{:class => "wc-hour-#{hour} wc-hour-slot-#{slots_per_hour}"}
        %tr
          %td.wc-grid-timeslot-header
            - for hour in start_hour .. end_hour
              .wc-hour-header
                .wc-time-header-cell
                  = "#{hour}:00"
          - for day in week_range
            - klass = "wc-day-column day-#{day.strftime("%w")}"
            - klass << " wc-today" if day == @today
            - editable = "#{calendar_name}-cal"
            - editable << " editable" if in_current_or_future_terms?(day, current_and_future_terms)
            // XXX editable
            %td{:class => klass}
              .wc-day-column-inner{:data => {:date => day.strftime}, :class => editable}
                = render event_partial, :day => day, :slot_height => slot_height, :slots_per_hour => slots_per_hour, :start_hour => start_hour, :current_and_future_terms => current_and_future_terms

