= simple_form_for :teacher, :url => '/sessions' do |f|
  = f.input :email
  = f.input :password
  -# = f.input :remember_me, as: :boolean
  = f.input :remember_me do
    = check_box_tag :remember_me, 1, params[:remember_me]
    -# = label_tag :remember_me
  .actions
    = submit_tag "Login"
  -# = f.submit 'Login'
