-# - students = course.students.uniq
- students = course.rosters.select {|r| not (r.start_date.nil? or r.end_date.nil?) and r.start_date <= Date.today and Date.today <= r.end_date}.map {|r| r.enrollment.student}
%tr
  %td{:rowspan => "#{students.count}"}
    .dropdown
      %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
        %span
          = course.name
        %span.caret
      %ul.dropdown-menu{:role => "menu", "aria-labelledby" => "dropdownMenu"}
        %li
          %a.menu-item-add-student{:href => "/rosters/add?course_id=#{course.id}&program_id=#{@program_id}", :tabindex => "-1"}
            Add a student
        %li
          %a.menu-item-update-class{:href => "/courses/#{course.id}/edit?program_id=#{@program_id}", :tabindex => "-1"}
            Update class
        %li
          %a.menu-item-delete-class{:href => "/cources/#{course.id}/destroy", :tabindex => "-1"}
            Delete class
  %td
    - if students.count == 0
      %span.empty-class
        empty
    - else
      %span.student-name
        = students[0].name
- unless students.empty?
  - students[1..-1].each do |student|
    %tr
      %td
        %span.student-name
          = student.name
