- content_for :sidemenu do
  - render '/layouts/classes_page_sidebar'

- content_for :subnav do
  = render "navbar"

- content_for :main do
  
  .classes-container.span4.accordion-parent
    = render "classes"
  .rosters-container.span7.accordion-parent
    = render "rosters"

  = modal_for "roster", :modal_title => "New Roster"
  = modal_for "add-student", :modal_title => "Add a student"
  = modal_for "update-class", :modal_title => "Update Class"
  = modal_for "add-class", :modal_title => "Add a Class"
