- content_for :sidemenu do
  - render '/layouts/classes_page_sidebar'

- content_for :subnav do
  .navbar.navbar-fixed-top.subnav
    .navbar-inner
      %ul.nav.nav-pills.unselectable
        %li
          %a#subnav-today{:href => "#"}
            now
        %li
          %a#subnav-prev{:href => "#"}
            <
        %li
          %a#subnav-next{:href => "#"}
            >
        %li
          %p.navbar-text#subnav-text
      %ul.nav.nav-pills.pull-right.unselectable
        = nav_filter_for "program", @programs, :base_url => "/rosters", :year => params[:year], :month => params[:month]
        %li.active
          = link_to "roster", rosters_path(:program_id => @program_id, :term_id => @term_id), :id => "subnav-roster"
        %li
          = link_to "attendance", attendances_path(:program_id => @program_id, :term_id => @term_id), :id => "subnav-attendance"


- content_for :main do
  .hidden-nav{:style => "display: none"}
    %span#cal-nav-program-id
      = @program_id
    %span#cal-nav-program-name
      = @program.school.full + ", " + @program.program_type.name + ", " + @program.instrument.name
  
  .classes-container.span4
    = render "classes"
  .rosters-container.span7
    = render "rosters"

  = modal_for "roster", :modal_title => "New Roster"
