= content_for :title do
	people

= content_for :sidemenu do
	= render 'people/sidebar'

= content_for :main do
	%table.table.table-bordered.table-striped{:style => 'clear: both'}
		%tr
			%th{:width => '25%'}
				FirstName
			%th{:width => '25%'}
				LastName 
			%th{:width => '30%'}
				Email
			%th
				Region
		-@staffs.each do |staff|
			%tr
				%td
					%a.fname-input{:href => '#'}
					= staff.first_name
				%td
					%a.lname-input{:href => '#'}
					= staff.last_name
				%td
					= staff.email
				%td