- content_for :title do
  people/students

- content_for :sidemenu do
  - render '/layouts/people_page_sidebar'

- content_for :action_button do
  %a.btn.btn-primary
    %i.icon-trash.icon-white
  %a.btn.btn-primary
    %i.icon-plus.icon-white

- content_for :main do
  %table.table.table-bordered.table-striped.table-condensed{:style => 'clear: both'}
    %tr
      %th{:width => '10px'}
      %th{:width => '310px'} NAME
      %th{:width => '280px'} SCHOOL
      %th PROGRAM
    - @students.each do |student|
      %tr
        %td
          %input.checkbox-select-to-delete{:type => 'checkbox'}
        %td
          %a.x-editable-input-user-name{:href => "#", 'data-url' => "/students/#{student.id}", 'data-pk' => "#{student.id}"}
            = student.name
        %td
          - if verify_user(['Admin'])
            = singular_selection(School.all_ordered_json, student.school_id, student.id, "/students/#{student.id}", 'school')
          - if verify_user(['Staff'])
            = singular_selection(School.in_one_region_ordered_json(current_user.region_id), student.school_id, student.id, "/students/#{student.id}", 'school')
          - if verify_user(['Teacher'])
            = singular_selection(current_user.schools_json, student.school_id, student.id, "/students/#{student.id}", 'school')
        %td
          = multiple_selection(student.school.program_all_ordered_json, student.program_ids, student.id, "/students/#{student.id}", 'programs')
  = modal_for "new-entry", :modal_title => "New Student", :css_class => "new-entry"
