- content_for :title do
  people/students

- content_for :sidemenu do
  - render '/layouts/people_page_sidebar'

- content_for :action_button do
  %a.btn.btn-primary.delete-entry{'data-url' => "/students/destroy_multi"}
    %i.icon-trash.icon-white
  %a.btn.btn-primary.new-entry{:href => "/students/new", "data-entry" => "students"}
    %i.icon-plus.icon-white
  = modal_for "new-entry", :modal_title => "New Student", :css_class => "new-entry"

- content_for :main do
  %table.table.table-bordered.table-striped.table-condensed{:style => 'clear: both'}
    %tr
      %th{:width => '10px'}
      %th{:width => '310px'} NAME
      %th{:width => '280px'} SCHOOL
      %th PROGRAM
    - @students.each do |student|
      %tr
        %td
          %input.checkbox-select-to-delete{:type => 'checkbox', :value => "#{student.id}"}
        %td
          %a.x-editable-input-user-name{:href => "#", 'data-url' => "/students/#{student.id}", 'data-pk' => "#{student.id}"}
            = student.name
        %td{:style => 'color: #0088cc;'}
          - if verify_user(['Admin'])
            = singular_selection("student-school-#{student.id}-", School.all_ordered_json, student.school_id, student.school_locked, student.id, "/students/#{student.id}", 'school')
          - if verify_user(['Staff'])
            = singular_selection("student-school-#{student.id}-", current_user.schools_ordered_json, student.school_id, student.school_locked, student.id, "/students/#{student.id}", 'school')
          - if verify_user(['Teacher'])
            = School.find(student.school_id).name
        %td
          - if verify_user(['Admin', 'Staff'])
            = multiple_selection("student-programs-#{student.id}-", student.school.programs_json, student.program_ids, [], student.id, "/students/#{student.id}", 'programs')
          - elsif verify_user(['Teacher'])
            = multiple_selection("student-programs-#{student.id}-", current_user.programs_json, student.program_ids, [], student.id, "/students/#{student.id}", 'programs')
