- content_for :title do
  people/staff

- content_for :sidemenu do
  - render '/layouts/people_page_sidebar'
  
- content_for :main do
  %table.table.table-bordered.table-striped{:style => 'clear: both'}
    %tr
      %th{:width => '13px'}
      %th{:width => '310px'} Name
      %th{:width => '280px'} Email
      %th Region
      %th
    - @staff.each do |staff|
      %tr
        %td
          %a
            %i.icon-remove
        %td
          %a.x-editable-input-user{:href => '#', 'data-url' => "/staff/#{staff.id}", 'data-pk' => "#{staff.id}"}
            = staff.name
        %td
          %a.x-editable-input-email{:href => '#', 'data-url' => "/staff/#{staff.id}", 'data-pk' => "#{staff.id}"}
            = staff.email
        %td
          %a.select2-region{:href => '#', :value => "#{@staff_with_region[staff.id][0]}"}
        %td
          %button.btn.btn-primary{'type' => 'button'}
            Reset Password
          %button.btn.btn-primary{'type' => 'button', :herf => '#'}
            New Staff
