!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title Sign in
    = stylesheet_link_tag :session_page, :media => "all"
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        %a.brand{:href => '#'} Music Kids
    .content#login-content
      = form_tag '/session_page/verify', method: 'get' do
        %fieldset
          %legend
            %strong
              Sign in
          %label
            %strong
              Email
          = text_field_tag :email, nil, :placeholder => 'Email', :class => 'login-input'
          %label
            %strong
              Password
          = password_field_tag :password, nil, :placeholder => 'Password', :class => 'login-input' 
          .form-inline
            %label.checkbox
              = check_box_tag :remember_me
              remember me
            #login-sign-in
              = submit_tag "Sign in", :class => 'btn'
        -# %fieldset
        -#   %legend
        -#     %strong
        -#       Forgot Password?
      = render 'forgot_password_form'

