#new-program-form-body
  = simple_form_for @program do |f|
    -# = f.collection_select :school_id, @schools, :id, :abbrev
    = f.hidden_field :school_id, :value => @school_id
    = f.association :instrument, :label_method => :name, :value_method => :id, :include_blank => false
    = f.association :course_type, :label_method => :full, :value_method => :id, :include_blank => false, :label => "Class Type"
    = f.input :regular_courses_per_year, :label => "Regular Classes Per Year"
    = f.input :group_courses_per_year, :label => "Group Classes Per Year"
    -# = f.button :submit

  -# -# %b Instrument: 
  -# %a.instrument-options{:href => "#", "data-type" => "select2", "data-pk" => "1", "data-url" => "/programs_page/save_instrument", "data-source" => "/programs_page/get_instruments.json", "data-value" => "1", "data-title" => "Select Instrument"}
  -#   = "Select Instrument"

  -# %p
  -# -# %b Course Type:
  -# %a.course-type-options{:href => "#", "data-type" => "select2", "data-pk" => "1", "data-url" => "/programs_page/save_course_type", "data-source" => "/programs_page/get_course_types.json", "data-value" => "1", "data-title" => "Select Course Type"}
  -#   = "Select Course Type"
  -# %p
  -# -# %b Regular Courses Per Year:
  -# %a.regular-courses-per-year{:href => "#", "data-type" => "text", "data-pk" => "1", "data-url" => "/programs_page/save_regular_courses", "data-value" => "1", "data-title" => "Input Regular Courses per Year"}
  -#   = "Enter Regular Courses Per Year"

  -# %p
  -# -# %b Group Courses Per Year:
  -# %a.group-courses-per-year{:href => "#", "data-type" => "text", "data-pk" => "1", "data-url" => "/programs_page/save_group_courses", "data-value" => "1", "data-title" => "Input Group Courses per Year"}
  -#   = "Enter Group Courses Per Year"
