- content_for :title do
  programs/programs

- content_for :sidemenu do
  - render '/layouts/programs_page_sidebar'

- content_for :main do
  %ul.nav.nav-tabs
    - i = 0
    - @schools.each do |school|
      %li{:class => (i == 0 ? 'active' : nil)}
        %a.tab-hover{:href => "#tab#{school.id}", "data-toggle" => "tab", :title => "#{school.full}"}
          = school.abbrev
      - i += 1
  .tab-content
    - i = 0
    - @schools.each do |school|
      .tab-pane{:class => (i == 0 ? 'active' : nil), :id => "tab#{school.id}"}

        -########################################
        -# ENTRY DELETE
        -########################################
        %a.btn.btn-primary.delete-entry Delete
        %p

        %table.table.table-bordered.table-striped.table-condensed{:style => 'clear: both'}
          %tr
            %th{:width => '10px'} 
            %th{:width => '200px'} INSTRUMENT
            %th{:width => '200px'} PROGRAM TYPE
            %th{:width => '310px'} REGULAR / GROUP CLASS PER YEAR
            %th 
          - school.programs.each do |program|
            %tr.accordion-group
              %td
                %input.checkbox-select-to-delete{:type => 'checkbox', :value  => "#{program.id}"}
              %td
                %a.x-editable-select2-singular{:href => '#', 'data-source' => '/instruments','data-url' => "/programs/#{program.id}", 'data-pk' => "#{program.id}", 'data-name' => 'instrument_id'}
                  = Instrument.find(program.instrument_id).name
              %td
                %a.x-editable-select2-singular{:href => '#', 'data-source' => '/program_types','data-url' => "/programs/#{program.id}", 'data-pk' => "#{program.id}", 'data-name' => 'program_type_id'}
                  = ProgramType.find(program.program_type_id).name
              %td
                %a.x-editable-input-number{:href => '#', 'data-url' => "/programs/#{program.id}", 'data-pk' => "#{program.id}"}
                  = program.regular_group_course
              %td
                .accordion-heading
                  .accordion-toggle{:style => 'padding-top: 0px; padding-bottom: 0px;'}
                    %button.btn{'data-toggle' => 'collapse', :href => "#collapse#{program.id}"}
                      Detail
                      %span.caret
            %tr
              %td{'colspan' => "5", :style => "height: auto"}
                .accordion-body.collapse{:id => "collapse#{program.id}"}
                  .accordion-inner{:style => 'border-top-width: 0px'}
                    .well
                      TEACHERS:&nbsp&nbsp
                      = multiple_selection(program.school.teachers_ordered_json, program.teacher_ids, program.id, "/programs/#{program.id}", 'regions')
                    .well
                      STUDENTS:&nbsp&nbsp
                      = multiple_selection(program.school.students_ordered_json, program.student_ids, program.id, "/programs/#{program.id}", 'regions')
        %a.btn.btn-primary.new-entry{:href => "/programs/new", "data-entry" => "#{school.id}"} New Program
      - i += 1
  = modal_for "new-entry", :modal_title => "New Program", :css_class => "new-entry"
  %p
