- content_for :title do
  programs/programs

- content_for :sidemenu do
  = render '/layouts/programs_page_sidebar'

- content_for :action_button do
  %a.btn.btn-primary.delete-entry{'data-url' => "/programs/destroy_multi"}
    %i.icon-trash.icon-white

  -# Program new entry is diff from others.
  %a.btn.btn-primary.new-program-entry{:href => "/programs/new", "data-entry" => "program"}
    %i.icon-plus.icon-white
  = modal_for "new-entry", :modal_title => "New Program", :css_class => "new-entry"

- content_for :main do
  %ul.nav.nav-tabs
    - i = 0
    - @schools.each do |school|
      %li{:class => (i == 0 ? 'active' : nil)}
        %a.tab-hover{:href => "#tab#{school.id}", "data-toggle" => "tab", :title => "#{school.full}"}
          = school.abbrev
      - i += 1
  .tab-content
    - i = 0
    - @schools.each do |school|
      .tab-pane{:class => (i == 0 ? 'active' : nil), :id => "tab#{school.id}"}
        %table.table.table-bordered.table-striped.table-condensed.table-condensed{:style => 'clear: both'}
          %tr
            %th{:width => '10px'} 
            %th{:width => '200px'} INSTRUMENT
            %th{:width => '200px'} PROGRAM TYPE
            %th{:width => '310px'} REGULAR / GROUP CLASS PER YEAR
            %th 
          - if verify_user(['Admin', 'Staff'])
            - programs = school.programs
          - elsif verify_user(['Teacher'])
            - programs = current_user.programs.where(:school_id => school.id)
          - programs.each do |program|
            %tr.accordion-group
              %td
                %input.checkbox-select-to-delete{:type => 'checkbox', :value  => "#{program.id}"}
              %td{:style => 'color: #0088cc;'}
                - if verify_user(['Admin', 'Staff'])
                  = singular_selection(Instrument.all_ordered_json, program.instrument_id, program.id, "/programs/#{program.id}", 'instrument_id')
                - elsif verify_user(['Teacher'])
                  = Instrument.find(program.instrument_id).name
              %td{:style => 'color: #0088cc;'}
                - if verify_user(['Admin', 'Staff'])
                  = singular_selection(ProgramType.all_ordered_json, program.program_type_id, program.id, "/programs/#{program.id}", 'program_type_id')
                - elsif verify_user(['Teacher'])
                  = ProgramType.find(program.program_type_id).name
              %td{:style => 'color: #0088cc;'}
                - if verify_user(['Admin', 'Staff'])
                  %a.x-editable-input-number{:href => '#', 'data-url' => "/programs/#{program.id}", 'data-pk' => "#{program.id}"}
                    = program.regular_group_course
                - elsif verify_user(['Teacher'])
                  = program.regular_group_course
              %td
                .accordion-heading
                  .accordion-toggle{:style => 'padding-top: 0px; padding-bottom: 0px;'}
                    %button.btn{'data-toggle' => 'collapse', :href => "#collapse#{program.id}"}
                      DETAIL
                      %span.caret
            %tr
              %td{'colspan' => "5", :style => "height: auto"}
                .accordion-body.collapse{:id => "collapse#{program.id}"}
                  .accordion-inner{:style => 'border-top-width: 0px'}
                    .well.well-small{:style => 'background-color: #eee;'}
                      %b TEACHERS:
                      - if verify_user(['Admin', 'Staff'])
                        = multiple_selection(Region.find(school.region_id).teachers_ordered_json, program.teacher_ids, program.id, "/programs/#{program.id}", 'teachers')
                      - elsif verify_user(['Teacher'])
                        = program.teacher_names
                    .well.well-small{:style => 'background-color: #eee;'}
                      %b STUDENTS:
                      - if verify_user(['Admin', 'Staff'])
                        = multiple_selection(school.students_ordered_json, program.student_ids, program.id, "/programs/#{program.id}", 'students')
                      - elsif verify_user(['Teacher'])
                        = multiple_selection(current_user.students_in_one_school_ordered_json(school.id), program.student_ids, program.id, "/programs/#{program.id}", 'students')
      - i += 1
