- content_for :title do
  programs/programs

- content_for :sidemenu do
  - render '/layouts/programs_page_sidebar'

- content_for :main do
  %ul.nav.nav-tabs
    - i = 0
    - @schools.each do |school|
      %li{:class => (i == 0 ? 'active' : nil)}
        %a.tab-hover{:href => "#tab#{school.id}", "data-toggle" => "tab", :title => "#{school.full}"}
          = school.abbrev
      - i += 1
  .tab-content
    - i = 0
    - @schools.each do |school|
      .tab-pane{:class => (i == 0 ? 'active' : nil), :id => "tab#{school.id}"}
        %table.table.table-bordered.table-striped{:style => 'clear: both'}
          %tr
            %th INSTRUMENT
            %th PROGRAM TYPE
            %th REGULAR CLASS PER YEAR
            %th GROUP CLASS PER YEAR
          %tr
            %td
              = i
            %td
            %td
            %td
      - i += 1
  -# = modal_for "new-program", :modal_title => "New Program"
