%h1
  Programs

.tabbable
  %ul.nav.nav-tabs
    -if current_user
      - @schools.each do |school|
        %li
          %a{:href => "#tab2", "data-toggle" => "tab"}
            = school.abbrev
  .tab-content
    .tab-pane.active#tab1

      %table.table.table-striped.table-bordered
        %thead
          %tr
            %td Instrument
            %td Course Type
            %td Regular Courses Per Year
            %td Group Courses Per Year
        %tbody
          -@programs.each do |program|
            %tr
              %td= program.instrument.name
              %td= program.course_type.full
              %td= program.regular_courses_per_year
              %td= program.group_courses_per_year
              %td{"data-toggle" => "collapse", "data-target" => "#collapse-#{program.id}", :class => "accordion-toggle"} Show Detail
            %tr
              %td.detailInfo{:colspan => "6"}
                %div.accodian-body.collapse{:id => "collapse-#{program.id}"}
                  Teachers:
                  %a#all-teachers{:viewsseperator => ",", :href => "#", "data-type" => "select2", "data-pk" => "1", "data-source" => "/programs/get_teachers.json", "data-url" => "/programs", "data-value" => "1"}
                  -# %select.all-teachers{:multiple => true}
                    -# -@teachers.each do |teacher|
                    -#   %option{:value => "#{teacher.first_name}"}
                    -#     = teacher.first_name.to_s + " " + teacher.middle_name.to_s + " " + teacher.last_name.to_s









                    -# = program.instrument.name
                  -# hahahha
              
              -# %td 


              -# {:colspan => "6", :class => "hiddenRow"}

                have a test

              -# %td
              -#   .accordion#accordion2
              -#     -# .accordion-group
              -#       -# .accordion-heading
              -#     .accordion-toggle{"data-toggle" => "collapse", "data-parent" => "#accordion2",  :href => "#collapseOne"}
              -#       Show Detail
              -# %tr
              -#   .accordion#accordion2
              -#     .accordion-group
              -#       .accordion-body.collapse.in#collapseOne 
              -#         .accordion-inner
              -#           Anim pariatur cliche...



            -# %td= link_to('edit', edit_program_path(program))
            -# %td= link_to('delet', program, :method => :delete, :data => {:confirm => "Are you sure?"})



      -# = link_to('Add A New Program', new_program_path)

    .tab-pane#tab2
      %p Hahah2



    -# %li.active
    -#   %a{:href => "#tab1", "data-toggle" => "tab"}
    -#     School1



