- content_for :title do
  programs/programs

- content_for :sidemenu do
  = render '/layouts/programs_page_sidebar'
  %a.btn.delete-entry.sidebar-button Delete Program
  -# %a.btn.btn-primary.new-entry{:href => "/programs/new", "data-entry" => "#{school.id}"} New Program
  %a.btn.new-entry.sidebar-button{:href => "/programs/new", "data-entry" => ""} New Program

- content_for :main do
  %ul.nav.nav-tabs
    - i = 0
    - @schools.each do |school|
      %li{:class => (i == 0 ? 'active' : nil)}
        %a.tab-hover{:href => "#tab#{school.id}", "data-toggle" => "tab", :title => "#{school.full}"}
          = school.abbrev
      - i += 1
  .tab-content
    - i = 0
    - @schools.each do |school|
      .tab-pane{:class => (i == 0 ? 'active' : nil), :id => "tab#{school.id}"}
        %table.table.table-bordered.table-striped.table-condensed.table-condensed{:style => 'clear: both'}
          %tr
            %th{:width => '10px'} 
            %th{:width => '200px'} INSTRUMENT
            %th{:width => '200px'} PROGRAM TYPE
            %th{:width => '310px'} REGULAR / GROUP CLASS PER YEAR
            %th 
          - school.programs.each do |program|
            %tr.accordion-group
              %td
                %input.checkbox-select-to-delete{:type => 'checkbox', :value  => "#{program.id}"}
              %td
                = singular_selection(Instrument.all_ordered_json, program.instrument_id, program.id, "/programs/#{program.id}", 'instrument_id')
              %td
                = singular_selection(ProgramType.all_ordered_json, program.program_type_id, program.id, "/programs/#{program.id}", 'program_type_id')
              %td
                %a.x-editable-input-number{:href => '#', 'data-url' => "/programs/#{program.id}", 'data-pk' => "#{program.id}"}
                  = program.regular_group_course
              %td
                .accordion-heading
                  .accordion-toggle{:style => 'padding-top: 0px; padding-bottom: 0px;'}
                    %button.btn{'data-toggle' => 'collapse', :href => "#collapse#{program.id}"}
                      Detail
                      %span.caret
            %tr
              %td{'colspan' => "5", :style => "height: auto"}
                .accordion-body.collapse{:id => "collapse#{program.id}"}
                  .accordion-inner{:style => 'border-top-width: 0px'}
                    .well.well-small
                      TEACHERS:
                      = multiple_selection(program.school.teachers_ordered_json, program.teacher_ids, program.id, "/programs/#{program.id}", 'teachers')
                    .well.well-small
                      STUDENTS:
                      = multiple_selection(program.school.students_ordered_json, program.student_ids, program.id, "/programs/#{program.id}", 'students')
      - i += 1
  = modal_for "new-entry", :modal_title => "New Program", :css_class => "new-entry"
