= content_for :title do
	programs

= content_for :sidemenu do
	= render 'programs/sidebar'

= content_for :main do
	%table.table.table-bordered.table-striped{:style => 'clear: both'}
		%tr
			%th{:width => '100%'}
				Instrument
		- @instruments.each do |instrument|
			%tr
				%td
					%a.instrument-input{:href => '#'}
						= instrument.name
		%tr
			%td
				%a.instrument-input{:href => '#'}
