%tr
  %td School
  %td Instrument
  %td Course Type
  %td Regular Courses Per Year
  %td Group Courses Per Year
%tr
  %td= @program.school
  %td= @program.instrument
  %td= @program.course_type
  %td= @program.regular_courses_per_year
  %td= @program.group_course_per_year
