- content_for :head do
  :javascript
    $(document).ready(function() {
      // $('#nav-people').toggleClass("active");
      //$('#sidebar-staff').toggleClass("active");
    });

= content_for :title do
  people

= content_for :sidemenu do
  = render 'people_page/sidebar'

= content_for :main do
  %table.table.table-bordered.table-striped{:style => 'clear: both'}
    %tr
      %th{:width => '25%'}
        Name
      %th{:width => '25%'}
        Email
      %th{:width => '25%'}
        Region
    -@staffs.each do |staff|
      %tr
        %td
          %a#staff-name{:href => "#", 'data-type' => 'user_name'}
        %td
          %a.email-input{:href => '#'}
            = staff.email
        %td
          %a.region-input{:href => '#'}
  %button.btn.btn-primary{'type' => 'button'}
    New Staff
