= content_for :title do
	people

= content_for :sidemenu do
	= render 'people_page/sidebar'

= content_for :main do
	%table.table.table-bordered.table-striped{:style => 'clear: both'}
		%tr
			%th{:width => '25%'}
				First Name
			%th{:width => '25%'}
				Last Name
			%th{:width => '25%'}
				Email
			%th{:width => '25%'}
				Region
		-@staffs.each do |staff|
			%tr
				%td
					%a.first-name-input{:href => '#'}
						= staff.first_name
				%td
					%a.last-name-input{:href => '#'}
						= staff.last_name
				%td
					%a.email-input{:href => '#'}
						= staff.email
				%td
					%a.region-input{:href => '#'}
