- content_for :head do
  :javascript
    $(document).ready(function() {
      $('#nav-people').toggleClass("active");
      $('#sidebar-teachers').toggleClass("active");
    });

- content_for :title do
  people

- content_for :sidemenu do
  = render 'people_page/sidebar'

= content_for :main do
  %table.table.table-bordered.table-striped{:style => 'clear: both'}
    %tr
      %th{:width => '25%'}
        First Name
      %th{:width => '25%'}
        Last Name
      %th{:width => '25%'}
        Email
      %th{:width => '25%'}
    -@teachers.each do |teacher|
      %tr
        %td
          %a.first-name-input{:href => '#'}
            = teacher.first_name
        %td
          %a.last-name-input{:href => '#'}
            = teacher.last_name
        %td
          %a.email-input{:href => '#'}
            = teacher.email
        %td
          %button.btn.btn-primary{'type' => 'button', 'data-toggle' => 'button'}
            Show Detail
  %button.btn.btn-primary{'type' => 'button'}
    New Teacher

