- content_for :title do
  schedule 
- content_for :sidemenu do
  - render '/layouts/classes_page_sidebar'
- content_for :subnav do
  = render "navbar", :active => "week"
- content_for :main do
  = weekly_calendar_for @schedules, :year => @year.to_i, :month => @month.to_i, :day => @day.to_i, :category_method => :group, :calendar_name => "course", :program => @program, :background_calendar => @calendars do |c|
    = c.draw_weekly_calendar_nav
    = c.draw_weekly_calendar_body

  = modal_for "course", :delete_button => true
