= nav_filter_for "school", @schools, :base_url => "/calendars", :year => params[:year], :default_text => @school.full
%li{:class => "#{active == 'week' ? 'active' : ''}"}
  = link_to_if @school, "week", calendars_week_path(:school_id => @school[:id]), :id => "subnav-week"
%li{:class => "#{active == 'year' ? 'active' : ''}"}
  = link_to "year", calendars_path(:school_id => @school[:id]), :id => "subnav-year"
