.navbar.navbar-fixed-top.subnav
  .navbar-inner
    .container
      %a.btn.btn-navbar{"data-toggle" => "collapse", "data-target" => "#subnav-collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      #subnav-collapse.nav-collapse.collapse
        %ul.nav.nav-pills.unselectable
          %li
            = link_to "now", calendars_path(:year => @year, :school_id => @school_id, :program_id => @program_id)
          %li
            = link_to "<", calendars_path(:year => @year - 1, :school_id => @school_id, :program_id => @program_id)
          %li
            = link_to ">", calendars_path(:year => @year + 1, :school_id => @school_id, :program_id => @program_id)
          %li
            %span.navbar-text#subnav-text
              = @year

        %ul.nav.nav-pills.pull-right.unselectable
          = nav_filter_for "school", @schools, :base_url => "/calendars", :year => params[:year], :default_text => @school.full
          %li{:class => "#{active == 'week' ? 'active' : ''}"}
            = link_to_if @school, "week", calendars_week_path(:school_id => @school[:id]), :id => "subnav-week"
          %li{:class => "#{active == 'year' ? 'active' : ''}"}
            = link_to "year", calendars_path(:school_id => @school[:id]), :id => "subnav-year"
