%h1 Teachers
%table 
  %tr
    %td Fist Name
    %td Middle Name
    %td Last Name
    %td Email
    %td Phone
    %td Region
  - @teachers.each do |teacher|
    %tr
      %td= teacher.first_name
      %td= teacher.middle_name
      %td= teacher.last_name
      %td= teacher.email
      %td= teacher.phone
      %td= teacher.region.name
      %td= link_to('edit', edit_teacher_path(teacher))
      %td= link_to('delete', teacher, :method => :delete, :data => {:confirm => "Are you sure?"}) 
      -# %td= link_to('delete', School.destroy(school))
= link_to('Add A Teacher', new_teacher_path)
