%h1 Calendar Marking
%table
  %tr 
    %td Abbreviation
    %td Full
  - @calendar_markings.each do |calendar_marking|
    %tr
      %td= calendar_marking.abbrev
      %td= calendar_marking.full
      %td= link_to('edit', edit_calendar_marking_path(calendar_marking))
      %td= link_to('delete', calendar_marking, :method => :delete, :data => {:confirm => "Are you sure?"})
= link_to('Add A New Attendce Marking', new_calendar_marking_path)
  
