- content_for :title do
  programs/schools

- content_for :sidemenu do
  - render '/layouts/programs_page_sidebar'

- content_for :action_button do
  %a.btn.btn-primary
    %i.icon-trash.icon-white
  %a.btn.btn-primary
    %i.icon-plus.icon-white
  
- content_for :main do
  %table.table.table-bordered.table-striped.table-condensed{:style => 'clear: both'}
    %tr
      %th{:width => '10px'}
      %th{:width => '280px'} FULL NAME
      %th{:width => '280px'} ABBREVIATION
      - if verify_user(['Admin'])
        %th{:width => '200px'} 
          REGION
      %th
    - @schools.each do |school|
      %tr
        %td
          %input.checkbox-select-to-delete{:type => 'checkbox'}
        %td
          %a.x-editable-input-text{:href => '#', 'data-url' => "/schools/#{school.id}", 'data-pk' => "#{school.id}", 'data-name' => 'full'}
            = school.full
        %td
          %a.x-editable-input-text{:href => '#', 'data-url' => "/schools/#{school.id}", 'data-pk' => "#{school.id}", 'data-name' => 'email', 'data-placeholder' => 'input email', 'data-name' => 'abbrev'}
            = school.abbrev
        - if verify_user(['Admin'])
          %td
            = singular_selection(Region.all_ordered_json, school.region_id, school.id, "/schools/#{school.id}", 'region')
        %td
  = modal_for "new-entry", :modal_title => "New School", :css_class => "new-entry"
