!!!
%html
	%head
		%meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
		%title Sign in
		= stylesheet_link_tag :login, :media => "all"
	%body
		.navbar.navbar-inverse
			.navbar-inner
				%a.brand{:href => '#'} Musikids Class Attendance
		.content#login-content
			= form_tag '/signin/verify', method: 'get' do
				%fieldset
					%legend
						%strong
							Sign in
					%label
						%strong
							Email
					= text_field_tag :email, nil, :placeholder => 'Email', :class => 'my-input'
					%label
						%strong
							Password
					= password_field_tag :password, nil, :placeholder => 'Password', :class => 'my-input' 
					.form-inline
						%label.checkbox
							= check_box_tag :remember_me
							remember me
						#login-sign-in
							= submit_tag "Sign in", :class => 'btn'
