- content_for :title do
  attendance
- content_for :sidemenu do
  - render '/layouts/classes_page_sidebar'
- content_for :subnav do
  .navbar.navbar-fixed-top.subnav
    .navbar-inner
      .container
        %a.btn.btn-navbar{"data-toggle" => "collapse", "data-target" => "#subnav-collapse"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        #subnav-collapse.nav-collapse.collapse
          %ul.nav.nav-pills.unselectable
            %li
              %a#subnav-today{:href => "#"}
                now
            %li
              %a#subnav-prev{:href => "#"}
                <
            %li
              %a#subnav-next{:href => "#"}
                >
            %li
              %p.navbar-text#subnav-text
          %ul.nav.nav-pills.pull-right.unselectable
            = nav_filter_for "program", @programs, :base_url => "/attendances", :year => params[:year], :month => params[:month], :default_text => "#{@program.school.full}, #{@program.program_type.name}, #{@program.instrument.name}"

- content_for :main do
  - day_of_week = ["Su", "M", "Tu", "W", "Th", "F", "Sa"]
  .fmc-container
    %table
      %tr
        %td.fmc-cal-header-blank
        %td.fmc-cal-header-blank
        - month_range = @date.beginning_of_month .. @date.end_of_month
        - for day in month_range
          %td.fmc-cal-header-wday
            - unless day.saturday? or day.sunday?
              = day_of_week[day.wday]
      - @enrollments.each do |enrollment|
        - student = enrollment.student
        - program = enrollment.program
        - group_schedule_hash = {}
        - regular_schedule_hash = {}
        - group_attendance_hash = {}
        - regular_attendance_hash = {}
        - enrollment.rosters.each do |roster|
          - course = roster.course
          - attendances = roster.attendances
          - attendances.each do |attendance|
            - if month_range.include? attendance.date
              - if course.course_type == "GroupCourse"
                - group_attendance_hash[attendance.date] = attendance
              - else
                - regular_attendance_hash[attendance.date] = attendance
          - course.schedules.each do |schedule|
            - if course.course_type == "GroupCourse"
              - if month_range.include? schedule.date
                - group_schedule_hash[schedule.date] = [schedule, course, roster]
            - else
              - regular_schedule_hash[schedule.day_of_week] = [schedule, course, roster]
        %tr
          %td.fmc-cal-enrollment-text{:rowspan => 2}
            = student.first_name + " " + student.last_name
          %td.fmc-cal-class-type-title
            regular
          = render 'regular_row', :schedule_hash => regular_schedule_hash, :attendance_hash => regular_attendance_hash, :month_range => month_range, :enrollment => enrollment
        %tr
          %td.fmc-cal-class-type-title
            group
          = render "group_row", :schedule_hash => group_schedule_hash, :attendance_hash => group_attendance_hash, :month_range => month_range, :enrollment => enrollment
  = modal_for "attendance", :modal_title => "attendance", :delete_button => true
