- content_for :sidemenu do
  = render '/layouts/reports_page_sidebar'

-# - content_for :subnav do
-#   = render "/layouts/subnav", :nav_pills_partial => nil, :nav_filter_partial => "/reports/filters", :active => nil, :base_path => nil

- content_for :main do
  -# [student, school, program] -> [class_completed, classes_remaining, over/under, class -> [student absence, teacher absence, school closing, student makeup, teacher makeup, school closing makeup, total classes scheduled]]
  .toolbar{:style => "padding-bottom: 15px"}
    %button.btn.btn-primary.hide-all{:title => "Hide all details"}
      %i.icon-eye-close.icon-white

    %select#program-filter.span2.multiselect{:multiple => "multiple"}
      %option
        Saint Mary School - POD
      %option
        The Harbor School - POD
      %option
        Center for Young Children - POD
    %select#student-filter.span2.multiselect{:multiple => "multiple"}
      %option
        John Doe
      %option
        Jane Ayre
      %option
        David Watson

  .panel.panel-default
    .panel-heading
      Grand Total

      .div.pull-right
        %span.badge.badge-success.report-heading.report-heading-completed{:data => {:toggle => "tooltip"}, :title => "Classes completed"}
          -# always be green
          = 1
        %span.badge.report-heading.report-heading-remaining{:data => {:toggle => "tooltip"}, :title => "Classes remaining"}
          -# always be grey
          = 2
        %span.badge.badge-important.report-heading.report-heading-overunder{:data => {:toggle => "tooltip"}, :title => "Over/under"}
          -# red if negative; grey if zero; yellow if positive
          = 3
    %table.table.report-table.table-condensed.table-striped.table-hover
      %thead
        %tr
          %th.stats-column
            %span.report-stats{:title => "Student Absences", :data => {:toggle => "tooltip"}}
              SA
          %th.stats-column
            %span.report-stats{:title => "Teacher Absences", :data => {:toggle => "tooltip"}}
              TA
          %th.stats-column
            %span.report-stats{:title => "School Closing", :data => {:toggle => "tooltip"}}
              SC
          %th.stats-column
            %span.report-stats{:title => "Student Absence Makeups", :data => {:toggle => "tooltip"}}
              SM
          %th.stats-column
            %span.report-stats{:title => "Teacher Absence Makeups", :data => {:toggle => "tooltip"}}
              TM
          %th.stats-column
            %span.report-stats{:title => "School Closing Makeups", :data => {:toggle => "tooltip"}}
              CM
          %th.stats-column
            %span.report-stats{:title => "Total Classes Scheduled", :data => {:toggle => "tooltip"}}
              CS
      %tbody
        %tr
          %td.report-stats
            = 1
          %td.report-stats
            = 2
          %td.report-stats
            = 3
          %td.report-stats
            = 4
          %td.report-stats
            = 5
          %td.report-stats
            = 6
          %td.report-stats
            = 7

  - @reports.each do |heading, details|
    .panel.panel-default.accordion-parent
      .panel-heading.accordion-toggle{"data-target" => "student-#{heading[:student].try(:id)}"}
        %span.report-heading.report-heading-student
          = heading[:student].try(:name) 
          
        %span.report-heading.report-heading-school.label.label-info{:data => {:toggle => "tooltip"}, :title => heading[:school].try(:full)}
          = heading[:school].try(:abbrev) or "school name"
        %span.report-heading.report-heading-program.label.label-info
          = heading[:program].try(:name) or "program_name"
        .div.pull-right
          %span.badge.badge-success.report-heading.report-heading-completed{:data => {:toggle => "tooltip"}, :title => "Classes completed"}
            -# always be green
            = details[:classes_completed] or 0
          %span.badge.report-heading.report-heading-remaining{:data => {:toggle => "tooltip"}, :title => "Classes remaining"}
            -# always be grey
            = details[:classes_remaining] or 0
          - if details[:over_under] < 0
            - span_class = "badge-important"
            - number = -details[:over_under]
          - elsif details[:over_under] == 0
            - span_class = ""
            - number = details[:over_under]
          - elsif details[:over_under] > 0
            - span_class = "badge-warning"
            - number = details[:over_under]
          %span.badge.report-heading.report-heading-overunder{:data => {:toggle => "tooltip"}, :title => "Over/under", :class => span_class}
            -# red if negative; grey if zero; yellow if positive
            = number
      %table.report-table.table.table-condensed.table-striped.table-hover.accordion-body{:id => "student-#{heading[:student].try(:id)}"}
        %thead
          %tr
            %th.class-column
              Class
            %th.stats-column
              %span.report-stats{:title => "Student Absences", :data => {:toggle => "tooltip"}}
                SA
            %th.stats-column
              %span.report-stats{:title => "Teacher Absences", :data => {:toggle => "tooltip"}}
                TA
            %th.stats-column
              %span.report-stats{:title => "School Closing", :data => {:toggle => "tooltip"}}
                SC
            %th.stats-column
              %span.report-stats{:title => "Student Absence Makeups", :data => {:toggle => "tooltip"}}
                SM
            %th.stats-column
              %span.report-stats{:title => "Teacher Absence Makeups", :data => {:toggle => "tooltip"}}
                TM
            %th.stats-column
              %span.report-stats{:title => "School Closing Makeups", :data => {:toggle => "tooltip"}}
                CM
            %th.stats-column
              %span.report-stats{:title => "Total Classes Scheduled", :data => {:toggle => "tooltip"}}
                CS
        %tbody
          - details[:rows].each do |class_name, row|
            %tr
              %td.class-name
                = class_name
              %td.report-stats
                = row[:student_absence]
              %td.report-stats
                = row[:teacher_absence] 
              %td.report-stats
                = row[:school_closing] 
              %td.report-stats
                = row[:student_makeup]
              %td.report-stats
                = row[:teacher_makeup]
              %td.report-stats
                = row[:school_closing_makeup] 
              %td.report-stats
                = row[:classes_scheduled] 
          - row = details[:total] 
          %tr
            %td.total.report-stats
              Totals:
            %td.total.report-stats
              = row[:student_absence]
            %td.total.report-stats
              = row[:teacher_absence] 
            %td.total.report-stats
              = row[:school_closing] 
            %td.total.report-stats
              = row[:student_makeup]
            %td.total.report-stats
              = row[:teacher_makeup]
            %td.total.report-stats
              = row[:school_closing_makeup] 
            %td.total.report-stats
              = row[:classes_scheduled] 

