%ul.nav.nav-list{:style => "margin-top: 45px"}
  %li{:class => "#{active_class("calendars", "index", "index_week")}"}
    = link_to "CALENDARS", "/calendars"
  %li{:class => "#{active_class("schedules", "index", "index_week")}"}
    = link_to "SCHEDULES", "/schedules"
  %li{:class => "#{active_class("attendances", "index")}"}
    = link_to "ATTENDANCES", "/attendances"
  %li{:class => "#{active_class("rosters", "index")}"}
    = link_to "CLASSES", "/rosters"
