%ul.nav.nav-list{:style => "margin-top: 45px"}
  %li{:class => "#{active_class("calendars", "index", "index_week")}"}
    = link_to "CALENDAR", "/calendars"
  %li{:class => "#{active_class("schedules", "index", "index_week")}"}
    = link_to "SCHEDULE", "/schedules"
  %li{:class => "#{active_class("attendances", "index")}"}
    = link_to "ATTENDANCE", "/attendances"
  %li{:class => "#{active_class("rosters", "index")}"}
    = link_to "ROSTER", "/rosters"
