%ul.nav.nav-list
  = active_link_fullpath 'REGIONS', '/regions'
  = active_link_fullpath 'INSTRUMENTS', '/instruments'
  = active_link_fullpath 'PROGRAM TYPES', '/course_types'
  = active_link_fullpath 'SCHOOLS', '/schools'
  = active_link_fullpath 'PROGRAMS', '/programs'
