= link_to "Staff_Home", schools_path, :class => 'brand'
= link_to "Schools", schools_path, :class => 'brand'
= link_to "Regions", regions_path, :class => 'brand'
= link_to "Teachers", teachers_path, :class => 'brand'
= link_to "Programs", programs_path, :class => 'brand'
= link_to "Instruments", instruments_path, :class => 'brand'
= link_to "CourseType", course_types_path, :class => 'brand'
