!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "App_Name"
    = stylesheet_link_tag :application, :media => "all"
    = javascript_include_tag :application
    = favicon_link_tag
    = csrf_meta_tags
  %body
    #mainnav.navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container{:style => 'margin-left: 10px; width: 100%;'}
          %a.btn.btn-navbar{"data-toggle" => "collapse", "data-target" => "#main-nav-collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => "#"}
            Music Kids
          #main-nav-collapse.nav-collapse.collapse
            %ul.nav
              - if verify_user(['Admin'])
                = active_link_partialpath 'PEOPLE', '/staffs', ['/staffs', '/teachers', '/students']
                = active_link_partialpath 'PROGRAMS', '/regions', ['/regions', '/instruments', '/program_types', '/schools', '/programs']
              - elsif verify_user(['Staff'])
                = active_link_partialpath 'PEOPLE', '/teachers', ['/staffs', '/teachers', '/students']
                = active_link_partialpath 'PROGRAMS', '/instruments', ['/regions', '/instruments', '/program_types', '/schools', '/programs']
              - elsif verify_user(['Teacher'])
                = active_link_partialpath 'PEOPLE', '/students', ['/staffs', '/teachers', '/students']
                = active_link_partialpath 'PROGRAMS', '/programs', ['/regions', '/instruments', '/program_types', '/schools', '/programs']
              = active_link_partialpath 'CLASSES', '/calendars', []
              = active_link_partialpath 'INSTRUMENTS', '#', []
            %ul.nav.pull-right
              %li.dropdown{:style => 'margin-right: 10px;'}
                %a.dropdown-toggle{'data-toggle' => 'dropdown', :href => '#'}
                  %i.icon-user.icon-white
                  = current_user.name
                  %span.caret
                %ul.dropdown-menu
                  %li
                    %a{:href => '/profiles'} Profile
                  %li
                    %a{:href => '/session_page/signout'} Sign out
    = yield(:subnav)
    .container-fluid
      .row-fluid
        .span2.content
          = yield(:sidemenu)
        .span10.content{:style => "margin-bottom: 15px"}
          = yield(:action_button)
          - if flash[:notice]
            = flash[:notice]
        .span10.content
          .flash-message
            - flash.each do |key, value|
              %div{:class => "#{flash_class(key)}"}
                %button.close{:type => "button", "data-dismiss" => "alert"}
                  &times;
                = value
          = yield(:main)
