!!!
%html
%head
  %title Caramel
  = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
  = javascript_include_tag "application", "data-turbolinks-track" => true
  = csrf_meta_tags
%body
  #container
    .user_nav
      -if current_user
        %header.navbar.navbar-fixed-top
          %nav.navbar-inner
            .container
        = render 'layouts/navigation'
        Logged in as 
        = current_user.email
        = link_to("Log out", logout_path)
      -else
        = link_to('Sign up', signup_path)
        or
        = link_to('log in', login_path)
  -# %header.navbar.navbar-fixed-top
  -#   %nav.navbar-inner
  -#     .container
  -#       = render 'layouts/navigation'
  #main{:role => "main"}
    .container
      .content
        .row
          .span12
            = render 'layouts/messages'
            = yield
        -# %footer
