!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "App_Name"
    = stylesheet_link_tag :application, :media => "all"
    = javascript_include_tag :application
    = favicon_link_tag
    = csrf_meta_tags
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-toggle" => "collapse", "data-target" => "#main-nav-collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => "#"}
            Musikids
          #main-nav-collapse.nav-collapse.collapse
            %ul.nav
              = active_link_partialpath 'PEOPLE', '/staffs'
              = active_link_partialpath 'PROGRAMS', '/regions'
              = active_link_partialpath 'CLASSES', '/courses'
              = active_link_partialpath 'INSTRUMENTS','#'
              -#     SEMESTER
            %ul.nav.pull-right
              %li
                %a
                  %i.icon-user.icon-white
                %li.dropdown
                  %a.dropdown-toggle{'data-toggle' => 'dropdown', :href => '#'}
                    = current_user.name
                    %span.caret
                  %ul.dropdown-menu
                    %li
                      %a{:href => '/profiles'} Profile
                    %li
                      %a{:href => '/session_page/signout'} Sign out
    = yield(:subnav)
    .container-fluid
      .row-fluid
        .span2.content
          = yield(:sidemenu)
        .span10.content
          = yield(:main)
